// VARIABLES
$colorMenu: greenyellow;

/* MIXIN */
@mixin ancho-largo ($height, $width){
    height: $height;
    width: $width;
}

/* ANIMACIONES */

@keyframes redeS{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}